.btn {
  color: white;
  background-color: #0a078c;
  padding: 10px 20px;
  border: 1px solid #0a078c;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: "Lora", serif;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #0a078c;
  color: #0a078c;
  background-color: transparent;
}
