.hero {
  height: 90vh;
  background-image: url("../images/hero.jpg");
  width: 100%;
  padding-top: 100px;
  background-size: cover;
}

.hero__container {
  padding-top: 260px;
  width: 400px;
  padding-left: 180px;
}

.hero__title {
  padding-bottom: 20px;
  font-family: "Lora", serif;
}

.hero__description {
  font-family: "Merriweather", serif;
  font-size: 24px;
  color: #0a078c;
}

@media (max-width: 600px) {
  .hero__container {
    width: 60%;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 100px;
  }
}
