.sidebar {
  width: 400px;
  background-color: white;
  height: 100vh;
  top: 0;
  z-index: 1;
  position: fixed;
  transition: transform 1s ease;
  transform: translate(0);
  box-shadow: 6px 0 5px -2px #777;
}

.hide {
  transform: translate(-100%);
  box-shadow: none;
  transition: all 0.7s ease;
}

.sidebar__close {
  margin-left: 80%;
  margin-top: 10%;
  font-size: 40px;
}

.sidebar__textContainer {
  margin: 30px;
  font-family: "Lora", serif;
  font-size: 24px;
}

.sidebar__text {
  padding: 10px 0;
}

.sidebar__logoContainer {
  display: flex;
  margin: 30px;
}

.sidebar__logo {
  width: 60px;
}

.sidebar__logoText {
  font-size: 32px;
  padding: 14px;
  letter-spacing: 0.5px;
}

@media (max-width: 500px) {
  .sidebar {
    width: 100%;
    box-shadow: none;
  }
}
