.sidebar {
  width: 400px;
  background-color: white;
  height: 100vh;
  top: 0;
  z-index: 1;
  position: fixed;
  transition: transform 1s ease;
  transform: translate(0);
}

.hide {
  transition: all 0.7s ease;
  transform: translate(-100%);
}

.sidebar__close {
  margin-left: 80%;
  margin-top: 10%;
  font-size: 40px;
}

.sidebar__textContainer {
  margin: 30px;
  font-family: "Lora", serif;
  font-size: 24px;
}

.sidebar__text {
  padding: 10px 0;
}

@media (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
}
